<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a ng-href="#/edit"><span class="glyphicon glyphicon-list"></span> Edit</a></li>
        <li><a ng-href="#/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
    </ul>
    <h3 class="text-muted">icebo</h3>
</div>

<div class="jumbotron">
    <div ng-repeat="f in listaFrasi">
        <p>{{f.frase}}</p>
    </div>
</div>

<div class="footer">

</div>