<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a ng-href="#/edit"><span class="glyphicon glyphicon-list"></span> Edit</a></li>
        <!--<li><a ng-href="#/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>-->
    </ul>
    <h3 class="text-muted">icebo</h3>
</div>

<div class="jumbotron">
    <div class="row">
        <div>
            <p><a class="btn btn-lg btn-default" ng-click="rndmData.doClick(item, $event)">Random<br><span class="glyphicon glyphicon-ok"></span></a></p>
            <br>
            <h3>{{rndmData.fromServer}}</h3>
        </div>
    </div>
</div>

<div class="footer">

</div>
